 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   schedule:
     - cron: '59 21 * * *'

 jobs:
   unittests:
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     env:
       FETCH_EXAMPLES: python -c 'import libpysal; libpysal.examples.fetch_all()'
       RUN_TEST: pytest -v -n auto libpysal --cov libpysal --cov-config .coveragerc --cov-report xml --color yes --cov-append --cov-report term-missing
     #timeout-minutes: 25
     defaults:
      run:
        shell: bash -l {0}
     strategy:
       matrix:
         os: ['ubuntu-latest']
         environment-file: [
            ci/38-minimal.yaml,
            ci/39.yaml,
            ci/310.yaml,
            ci/311.yaml,
            ci/311-dev.yaml
         ]
         include:
           - environment-file: ci/311.yaml
             os: macos-latest
           - environment-file: ci/311.yaml
             os: windows-latest
       fail-fast: false

     steps:
       - name: checkout repo
         uses: actions/checkout@v4

       - name: setup micromamba
         uses: mamba-org/setup-micromamba@v1
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'

       - name: run tests
         run: |
           ${{ env.FETCH_EXAMPLES }}
           ${{ env.RUN_TEST }}

       - name: codecov
         uses: codecov/codecov-action@v3
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: libpysal-codecov
